.introductory-elements-container {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo-container {
  height: 12em;
}

.logo {
  height: 100%;
}

.introductory-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-text {
  font-size: 18px;
  color: #495057;
}

.bot-name {
  font-size: 36px;
  font-weight: bold;
  color: #087f5b;
}
