.sidebar-container {
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 5fr 1fr 1fr;
  height: 100%;
}

.listed-chats {
  margin-top: 1em;
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.listed-chat {
  width: 85%;
  height: 32px;
  padding-left: 12px;
  background-color: #f1f3f5;
  border-radius: 4px;
  font-size: 12px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-buttons {
  grid-row: 3 / 4;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  transition: all 0.3s;
}

.sidebar-button {
  width: 92px;
  padding: 8px 6px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s;
}

.new-chat-button {
  color: #087f5b;
  background-color: #e6fcf5;
}

.new-chat-button:hover,
.new-chat-button:active {
  background-color: #dcf2eb;
}

.new-chat-button ion-icon {
  font-size: 18px;
}

.delete-chat-button {
  background-color: #ffe3e3;
  color: #f03e3e;
  border: none;
}

.delete-chat-button:hover,
.delete-chat-button:active {
  background-color: #f5d9d9;
}

/* .delete-chat-button ion-icon {
  color: #f03e3e;
} */
