.sidebar-container {
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 5fr 1fr 1fr;
  height: 100%;
}

.listed-chats {
  margin-top: 1em;
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.listed-chat {
  width: 85%;
  height: 32px;
  padding-left: 12px;
  background-color: #f1f3f5;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  color: #087f5b;
  font-weight: bold;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.listed-chat:hover {
  background-color: #e6fcf5;
  transition: all 0.4s ease;
}

.selected-chat,
.selected-chat:hover {
  background-color: #007753;
  color: #ffffff;
}

.sidebar-buttons {
  grid-row: 3 / 4;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  transition: all 0.3s;
}

.sidebar-button {
  width: 4em;
  height: 2.6em;
  border: none;
  cursor: pointer;
  border-radius: 1em;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f1f3f5; */
  background-color: #f4f5f7;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.sidebar-button ion-icon {
  font-size: 1.4em;
}

.new-chat-button {
  color: #ffffff;
  background-color: #087f5b;
}

.new-chat-button:hover,
.new-chat-button:active {
  background-color: #007753;
}

.delete-chat-button {
  background-color: #f03e3e;
  color: #ffffff;
}

.delete-chat-button:hover,
.delete-chat-button:active {
  background-color: #e03131;
}
