.syllabot-container {
  width: 100%;
  height: 100%;
}

.syllabot-outline {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.syllabot-sidebar {
  height: 100vh;
}

.introductory-element-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-area-container {
  justify-self: center;
  align-self: center;
  width: 84%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

.input-area-text {
  align-self: flex-start;
  color: #087f5b;
  font-weight: bold;
  margin-bottom: 12px;
}

.input-area-outline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.input-area-outline input {
  width: 840px;
  height: 38px;
  padding: 6px 6px;
  border: none;
  border-radius: 4px;
}

.input-area-button {
  width: 72px;
  padding: 10px 4px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.input-area-button ion-icon {
  font-size: 18px;
}

.submit-button {
  background-color: #087f5b;
}

.submit-button:hover,
.submit-button:active {
  background-color: #007753;
}

.submit-button ion-icon {
  color: #ffffff;
}

.attach-button,
.upload-button {
  background-color: #ffffff;
}

.attach-button:hover,
.attach-button:active,
.upload-button:hover,
.upload-button:active {
  background-color: #e6fcf5;
}

.attach-button ion-icon,
.upload-button ion-icon {
  color: #087f5b;
}

/* #################### ADDED LATER #################### */

.chat-container {
  /* display: flex;
  flex-direction: column;
  height: 100vh; */
  width: 100%;
  /* align-items: center;
  justify-content: center; */
  /* ### */
  background-color: #e9ecef;
  height: 100vh;
  display: grid;
  grid-template-rows: 5fr 1fr;
}

.chat-area {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  padding: 10px;
  background-color: #e9ecef;
  display: flex;
  flex-direction: column;
}

.message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
}

.message.user {
  align-self: flex-end;
  background-color: #a8e6cf;
}

.message.bot {
  align-self: flex-start;
  background-color: #dcedc1;
}
