/* PROJECT PALETTE
1 - #e9ecef
3 - #f1f3f5;
2 - #087f5b;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #e9ecef;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  height: 100vh;
}

.app-outline {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.app-sidebar {
  height: 100vh;
}

.app-content {
  background-color: #e9ecef;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: grid; */
  /* grid-template-rows: 5fr 1fr; */
}
